<span class="icon icon-cancel close-button" id="user-close-button"></span>
<div>
  <div class="login-container">
    <h1>Login</h1>
    <h4>{{ errorLogin }}</h4>
    <form ng-submit="loginLocal()" name="login_form">
      <input ng-model="loginForm.name" type="text" placeholder="Name" name="name" class="cuprum input" required>
      <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="cuprum input" required>
      <input type="submit" value="Login" class="button-second cuprum" ng-disabled="login_form.$invalid">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
    <a title="login by facebook" ng-click="loginFacebook()" class="facebook"></a>
  </div>
  <div class="signup-container">
    <h1>Signup</h1>
    <h4>{{ errorSignup }}</h4>
    <form ng-submit="signup()" name="signup_form">
      <input ng-model="signupForm.name" type="text" placeholder="Name" name="name" class="cuprum input" required>
      <input ng-model="signupForm.password" type="password" placeholder="Password" name="password" class="cuprum input" required>
      <input type="submit" value="Signup" class="button-second cuprum" ng-disabled="signup_form.$invalid">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
  </div>
</div>
